.slider {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    &__img {
        height: 300px;
        width: 100%;
        object-fit: contain;
    }

    [class*="yellow"] {
        position: absolute;
        bottom: 10px;
        left: 30px;
    }

    [class*="swiper-slide"] {
        display: flex;
        justify-content: center;
    }
}
