.slider {
    display: flex;
    position: relative;
    align-items: center ;
    justify-content: center;
   
    &__img{
        height: 300px;
        width: 1000px;
        object-fit: cover; 
        
    }

    [class*="yellow"] {
        left: 0;
        

    }

}    

