.slider {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    

    &__img {
        height: 300px;
        width: 100%;
        object-fit:contain;
    }

    [class*="yellow"] {
        left: 0;
    }

    [class*="swiper-slide"] {
        display: flex;
        justify-content: center;
    }
}
