.carName{
    display: flex;
    flex: 1 1 66%;
    font-weight: bold;
    font-size: 75px;

    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: #fff;
    z-index: 999;
}