*{
    box-sizing: border-box;
}
body,html{
    margin: 0px;
    padding: 0px;
    //background-color: #1B1B1E;
    background-color: black;
}

.App{
   
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    // &__main {
    //     padding: 0px 0px;
    // }
}