.card{
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100%;
    &__priceCard{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        
        padding-bottom: 25px;
        font-weight: bold;
        font-size: 36px;
        color: #fff;

       

    
    }
    span{
        font-size: 24px;
        font-weight: normal;
        padding-top: 10px;
    }
}
