.card{
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    &__priceCard{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        margin: 25px 0px;
        font-weight: bold;
        font-size: 36px;
        color: #fff;

    
    }
    span{
        font-size: 24px;
        font-weight: normal;
        padding-top: 10px;
    }
}
