.dropDownMenu {
    display: flex;
    flex-direction: row;

    &__calendar {
        margin: 15px 0px;
        padding: 20px 10px;
        background-color: #fff;
        width: 350px;
        height: 200px;
    }
}
